body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: #c9d1d9;
  scroll-behavior: smooth;
  overflow-x: hidden;
  }
  
  header {
  position: absolute;
  background-color: #161b22;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  #header-content {
  position: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 0.7rem;
  height: 5vh;
  }

  footer {
  background-color: #161b22;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  #intro {
    pointer-events: none;
  }

  #txtsobreposto{
  margin: 2rem;
  top: 35%;
  position: absolute;
  }

  #imgsobreposto{
    position: absolute;
    height: 100%;
    top: 0%;
    left: -75%;
    filter: hue-rotate(40deg);
    opacity: 80%;
    mix-blend-mode: multiply;
    background: linear-gradient(90deg,rgb(9, 4, 99) 85%, rgba(0, 212, 255, 0) 100%);
  }

  #categorias, #sobre, #contato{
    padding: 20px;
    max-width: 95vw;
    margin: 20px auto;
    background-color: #161b22;
    border-radius: 8px;
  }

  .parallax {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .camada {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    will-change: transform;
  }
  .fog {
    mix-blend-mode: luminosity;
    filter: contrast(1.5);
    opacity: 80%;
  }

  #c_opc {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  #c_opc div{
    padding: 1.2rem;
    border-radius: 16px;
    background-color: #21262d;
  }

  #projects {
    padding: 20px;
    max-width: 95vw;
    margin: 20px auto;
    background-color: #161b22;
    border-radius: 8px;
  }
  
  .project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  }
  
  .project {
  background-color: #21262d;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: transform 0.5s, box-shadow 0.3s;
  }
  .project:hover {
    transform: scale(1.05) rotateY(5deg);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);
}

  .project h3 {
  margin-top: 0;
  }
  
  .project p {
  margin-bottom: 10px;
  }
  
  .btn {
  text-decoration: none;
  background-color: #238636;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
  }
  
  .btn:hover {
  background-color: #2ea074;
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(1.05) rotateY(5deg);
  }

  
